[Desktop Entry]
Name=4L
Exec=/app/bin/4L-gui
Comment=Write LightScribe CD/DVD labels
Type=Application
Icon=uk.lukeross.flatpak.lightscribe
Categories=DiscBurning;Graphics;
Terminal=false
